{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Edit Profile | CaC{% endblock %}

{% block content %}

    <div class="gradient-bg d-flex flex-column align-items-center justify-content-center">
        <div class="container py-4 col-md-8">
            <div class="shadow-wrap card">
                <div class="card shadow">
                    <div class="card-body p-2">
                        <h3 class="text-center mb-4">Update Your Profile</h3>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Username (Disabled if you don't want it to be updated) -->
                            <div class="mb-3">
                                {{ user_form.username.label_tag }}
                                {{ user_form.username|add_class:"form-control" }}
                                {{ user_form.username.errors }}
                            </div>

                            <!-- First Name and Last Name in Two Columns -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ user_form.first_name.label_tag }}
                                    {{ user_form.first_name|add_class:"form-control" }}
                                    {{ user_form.first_name.errors }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ user_form.last_name.label_tag }}
                                    {{ user_form.last_name|add_class:"form-control" }}
                                    {{ user_form.last_name.errors }}
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="mb-3">
                                {{ user_form.email.label_tag }}
                                {{ user_form.email|add_class:"form-control" }}
                                {{ user_form.email.errors }}
                            </div>

                            <div class="mb-3">
                                <label for="area-code-dropdown">Phone Number</label>
                                <div class="phone-number-container">
                                    <div class="area-code-container">
                                        <!-- Dropdown -->
                                        <select class="form-control area-code-dropdown" id="area-code-dropdown">
                                            <option value="">&#9660;</option>
                                            {% for code, country in area_code_choices %}
                                                <option value="{{ code }}">{{ country }}</option>
                                            {% endfor %}
                                        </select>
                                        <!-- Area code input -->
                                        {{ user_form.area_code|add_class:"form-control area-code-input" }}
                                        <!-- Phone Number Input -->
                                        {{ user_form.phone_number|add_class:"form-control phone-input" }}
                                    </div>
                                </div>

                                <!-- Error Messages -->
                                {{ user_form.area_code.errors }}
                                {{ user_form.phone_number.errors }}
                            </div>

                            <!-- Cancer Type and Cancer Stage in Two Columns -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ user_form.cancer_type.label_tag }}
                                    {{ user_form.cancer_type|add_class:"form-control" }}
                                    {{ user_form.cancer_type.errors }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ user_form.cancer_stage.label_tag }}
                                    {{ user_form.cancer_stage|add_class:"form-control" }}
                                    {{ user_form.cancer_stage.errors }}
                                </div>
                            </div>

                            <!-- Date Diagnosed and Gender in Two Columns -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ user_form.date_diagnosed.label_tag }}
                                    {{ user_form.date_diagnosed|add_class:"form-control" }}
                                    {{ user_form.date_diagnosed.errors }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ user_form.gender.label_tag }}
                                    {{ user_form.gender|add_class:"form-control" }}
                                    {{ user_form.gender.errors }}
                                </div>
                            </div>

                            <!-- Profile Picture -->
                            <div class="mb-3 d-flex flex-wrap flex-column">
                                <label>{{ user_form.profile_pic.label }}</label>
                                <div class="position-relative">
                                    {{ user_form.profile_pic|add_class:"form-control-file text-truncate w-100" }}
                                </div>
                                <div class="text-danger">
                                    {{ user_form.profile_pic.errors }}
                                </div>
                            </div>

                            <!-- Consent to Receive Text Messages -->
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="consent_to_text"
                                       name="consent_to_text"
                                       {% if user_form.consent_to_text.value %}checked{% endif %}>
                                <label for="consent_to_text" class="form-check-label">I consent to receive text
                                    message reminders</label>
                                {{ user_form.consent_to_text.errors }}
                            </div>

                            <!-- Submit Button -->
                            <div class="d-flex justify-content-center px-2">
                                <button type="submit" class="edit-button">Update Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const areaCodeInput = document.getElementById("id_area_code");
            const areaCodeDropdown = document.getElementById("area-code-dropdown");

            areaCodeDropdown.addEventListener("change", function () {
                areaCodeInput.value = this.value;
            });

            if (areaCodeInput.value === "") {
                areaCodeInput.value = "+";
            }

            areaCodeInput.addEventListener("focus", function () {
                if (!areaCodeInput.value.startsWith("+")) {
                    areaCodeInput.value = "+" + areaCodeInput.value;
                }
                setCaretPosition(areaCodeInput, areaCodeInput.value.length);
            });

            areaCodeInput.addEventListener("keydown", function (e) {
                if (areaCodeInput.selectionStart <= 1 && (e.key === "Backspace" || e.key === "ArrowLeft")) {
                    e.preventDefault();
                    setCaretPosition(areaCodeInput, 1);
                }
            });

            areaCodeInput.addEventListener("input", function () {
                if (!areaCodeInput.value.startsWith("+")) {
                    areaCodeInput.value = "+" + areaCodeInput.value.replace(/\+/g, "");
                }
            });

            function setCaretPosition(ctrl, pos) {
                if (ctrl.setSelectionRange) {
                    ctrl.setSelectionRange(pos, pos);
                } else if (ctrl.createTextRange) {
                    var range = ctrl.createTextRange();
                    range.move("character", pos);
                    range.select();
                }
            }
        });
    </script>
{% endblock %}
{% block footer %}{% endblock %}
