{% extends "base.html" %} 
{% load static %} 

{% block title %}CaC | Donate{% endblock %} 

{% block content %}
<div class="container">
	<h1 class="text-center pt-4">Donate to Help Fund Research!</h1>
	<p class="text-center">
        CodeAgainstCancer is a non-profit organization that aims to help cancer patients and their families by providing them 
        with the resources they need to fight cancer. We understand that cancer can be a difficult journey. We are here to help 
        you every step of the way. Below are some resources that can help you get the support you need.
	</p>
</div>
{% endblock %}
