{% extends "base.html" %}
{% load static %}

{% block title %} CaC | Resources {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center pt-4">Your Cancer Support Hub</h1>
        <p>
            Cancer is a difficult journey, but you don&#39;t have to navigate it alone. Whether you&#39;re seeking advice,
            emotional support, or practical guidance, we&#39;re committed to standing by your side at every stage. Our
            goal is to connect you with valuable resources that offer comfort, strength, and expert assistance tailored
            to your needs. Take a moment to explore the options below&mdash;there&#39;s help available to guide you
            through this challenging time, and together, we can face this journey with hope and resilience.
        </p>

        <div class="row pb-3">
            <div class="col-lg-6">
                <h2>Related videos</h2>
                {% if videos %}
                    <div id="video-cards">
                        {% for video in videos %}
                            <div class="card mb-3">
                                <div class="ratio ratio-16x9">
                                    <iframe loading="lazy" src="https://www.youtube.com/embed/{{ video.id.videoId }}"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination Buttons -->
                    <div class="text-center">
                        <button id="prev-btn" class="btn btn-primary" data-prev-token="{{ prev_page_token }}"
                                style="display: none;">Previous
                        </button>
                        <button id="next-btn" class="btn btn-primary" data-next-token="{{ next_page_token }}">Next
                        </button>
                    </div>
                {% else %}
                    <p>No videos found.</p>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>Other Resources</h2>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                            >
                                Related articles
                            </button>
                        </h2>
                        <div
                                id="collapseOne"
                                class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                {% if pubmed_articles %}
                                    <ul>
                                        {% for article_id, article in pubmed_articles.items %}
                                            {% if article_id != "uids" %} <!-- Exclude 'uids' key -->
                                                <li>
                                                    <div class="d-flex flex-column">
                                                        <strong>{{ article.title }}</strong>
                                                        <div class="d-flex justify-content-between">
                                                            {{ article.source }} - {{ article.pubdate }}
                                                            <a href="https://pubmed.ncbi.nlm.nih.gov/{{ article_id }}"
                                                               target="_blank" rel="noopener noreferrer"
                                                               class="pubmed-link">
                                                                Read on PubMed
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No articles found.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                            >
                                Forums
                            </button>
                        </h2>
                        <div
                                id="collapseTwo"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <p class="mb-1">Here are some forums where you can find support and connect with others:</p>
                                <ul class="forums">
                                    <li><a href="https://www.reddit.com/r/cancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/CancerFamilySupport/" target="_blank"
                                           rel="noopener noreferrer">Reddit: CancerFamilySupports</a></li>
                                    <li><a href="https://www.reddit.com/r/CancerCaregivers/" target="_blank"
                                           rel="noopener noreferrer">Reddit: CancerCaregivers</a></li>
                                    <li><a href="https://www.reddit.com/r/TheCancerPatient/" target="_blank"
                                           rel="noopener noreferrer">Reddit: The Cancer Patient</a></li>
                                    <li><a href="https://www.reddit.com/r/CancerCoven/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Cancer Coven</a></li>
                                    <li><a href="https://www.reddit.com/r/LivingWithMBC/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Living with MBC</a></li>
                                    <li><a href="https://www.reddit.com/r/bileductcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Bile Duct Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/braincancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Brain Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/breastcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Breast Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/BladderCancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Bladder Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/BRCA/" target="_blank"
                                           rel="noopener noreferrer">Reddit: BRCA</a></li>
                                    <li><a href="https://www.reddit.com/r/CervicalCancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Cervical Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/coloncancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Colon Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/pediatriccancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Pediatric Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/cll/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Chronic Lymphocytic Leukemia</a></li>
                                    <li><a href="https://www.reddit.com/r/endometrialcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Endometrial Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/Ewings_Sarcoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Ewing's Sarcoma</a></li>
                                    <li><a href="https://www.reddit.com/r/gallbladdercancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Gallbladder Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/glioblastoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Glioblastoma</a></li>
                                    <li><a href="https://www.reddit.com/r/lowgradegliomas/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Low Grade Glioma</a></li>
                                    <li><a href="https://www.reddit.com/r/HeadandNeckCancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Head and Neck Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/hodgkins_lymphoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Hodgkins Lymphoma</a></li>
                                    <li><a href="https://www.reddit.com/r/kidneycancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Kidney Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/leukemia/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Leukemia</a></li>
                                    <li><a href="https://www.reddit.com/r/lungcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Lung Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/LungCancerSupport/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Lung Cancer Support</a></li>
                                    <li><a href="https://www.reddit.com/r/lymphoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Lymphoma</a></li>
                                    <li><a href="https://www.reddit.com/r/melahomies/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Melanoma</a></li>
                                    <li><a href="https://www.reddit.com/r/mds/" target="_blank"
                                           rel="noopener noreferrer">Reddit: MDS</a></li>
                                    <li><a href="https://www.reddit.com/r/MPN/" target="_blank"
                                           rel="noopener noreferrer">Reddit: MPN</a></li>
                                    <li><a href="https://www.reddit.com/r/multiplemyeloma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Multiple Myolema</a></li>
                                    <li><a href="https://www.reddit.com/r/NeuroendocrineTumours/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Neuroendocrine Cancer and Tumors</a></li>
                                    <li><a href="https://www.reddit.com/r/nsclc/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Non Small Cell Lung Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/ovariancancer_new/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Ovarian Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/Osteosarcoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Osteosarcoma</a></li>
                                    <li><a href="https://www.reddit.com/r/pancreaticcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Pancreatic Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/ProstateCancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Prostate Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/rectalcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Rectal Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/sarcoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Sarcoma</a></li>
                                    <li><a href="https://www.reddit.com/r/Soft_Tissue_Sarcoma/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Soft Tissue Sarcoma</a></li>
                                    <li><a href="https://www.reddit.com/r/stomachcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Stomach cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/testicularcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Testicular Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/thyroidcancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Thyroid Cancer</a></li>
                                    <li><a href="https://www.reddit.com/r/CancerTeens/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Teenage Cancer Support</a></li>
                                    <li><a href="https://www.reddit.com/r/mtf_breast_cancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: MtF Trans Breast Cancer Support</a></li>
                                    <li><a href="https://www.reddit.com/r/stage4cancer/" target="_blank"
                                           rel="noopener noreferrer">Reddit: Stage 4 Cancer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                            >
                                Support Groups Near Me
                            </button>
                        </h2>
                        <div
                                id="collapseThree"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                   <p> Below is a map of known cancer support groups. For more resources, check with your local hospital/medical center for potential support groups in your area!"</p>
                                <h4>Google Maps</h4>
                                   
                                
                                <!-- This is the code block for the geolocation map from the documentation-->
                                   <div id="map"></div>
                            

                            </ul>
                                    <li><a href="https://www.cancer.org/" target="_blank"
                                           rel="noopener noreferrer">American Cancer Society</a></li>
                                    <li><a href="https://www.cancer.gov/" target="_blank"
                                           rel="noopener noreferrer">National Cancer Institute</a></li>
                                    <li><a href="https://www.cancerresearchuk.org/" target="_blank"
                                           rel="noopener noreferrer">Cancer Research UK</a></li>
                                    <li><a href="https://www.macmillan.org.uk/" target="_blank"
                                           rel="noopener noreferrer">Macmillan Cancer Support</a></li>
                                    <li><a href="https://www.cancerresearch.org/" target="_blank"
                                           rel="noopener noreferrer">Cancer Research Institute</a></li>
                                    <li><a href="https://www.cancer.net/" target="_blank"
                                           rel="noopener noreferrer">Cancer.net</a></li>
                                    <li><a href="https://www.cancercenter.com/" target="_blank"
                                           rel="noopener noreferrer">Cancer Treatment Centers of America</a></li>
                                    <li><a href="https://find-doctor.ama-assn.org" target="_blank"
                                           rel="noopener noreferrer">American Medical Association - DoctorFinder</a>
                                    </li>
                                    <li><a href="https://find-doctor.ama-assn.org" target="_blank"
                                           rel="noopener noreferrer">Association of American Cancer Institutes</a></li>
                                    <li><a href="https://cancercommons.org/home/" target="_blank"
                                           rel="noopener noreferrer">CancerCommons</a></li>
                                    <li><a href="https://find-doctor.ama-assn.org" target="_blank"
                                           rel="noopener noreferrer">Association of American Cancer Institutes</a></li>
                                </ul>
                                <h4 class="mt-4">Financial and legal assistance</h4>
                                <ul class="forums">
                                    <li><a href="https://www.cancercare.org" target="_blank"
                                           rel="noopener noreferrer">CancerCare</a></li>
                                    <li><a href="https://www.cancerandcareers.org/en" target="_blank"
                                           rel="noopener noreferrer">Cancer and Careers</a></li>
                                    <li><a href="https://www.hrsa.gov/get-health-care/affordable/hill-burton"
                                           target="_blank"
                                           rel="noopener noreferrer">Hill-Burton Free and Reduced-Cost Health Care</a>
                                    </li>
                                    <li><a href="https://rmhc.org" target="_blank"
                                           rel="noopener noreferrer">Ronald McDonald House</a></li>
                                    <li><a href="https://triagecancer.org" target="_blank"
                                           rel="noopener noreferrer">Triage Cancer</a></li>
                                </ul>
                                <h4 class="mt-4">Support groups</h4>
                                <ul class="forums">
                                    <li><a href="https://cancersupport.net" target="_blank"
                                           rel="noopener noreferrer">Cancer Support Community</a></li>
                                    <li><a href="https://rdc.gnosishosting.net/Events/Calendar" target="_blank"
                                           rel="noopener noreferrer">Gilda’s Club New York City</a></li>
                                    <li><a href="https://imermanangels.org" target="_blank"
                                           rel="noopener noreferrer">Imerman Angels</a></li>
                                    <li><a href="https://canceradvocacy.org" target="_blank"
                                           rel="noopener noreferrer">National Coalition for Cancer Survivorship</a></li>
                                    <li><a href="https://online.nursing.georgetown.edu/blog/cancer-mental-health/"
                                           target="_blank"
                                           rel="noopener noreferrer">Nursing at Georgetown: Managing Mental Health After
                                        a Cancer Diagnosis</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- Include the external resources.js script -->
    <script src="{% static 'js/resources.js' %}"></script>
    <script
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSZlxZLx15HdGxztbTuUHCrnNQInwqraI&callback=initMap"
              async defer
       ></script>
    <script src="{% static 'js/geolocation.js' %}"></script>
{% endblock %}

 
