{% extends "base.html" %}
{% load static %}

{% block title %}Donate | CaC{% endblock %}

{% block content %}
    <section class="container pt-4">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="donation-img">

                    <img src="https://www.foundationformmc.org/img/home/donate.jpg" alt="" class="img-fluid">
                </div>
                <h1 class="">Help fund cancer research today.</h1>
                <p>Your tax-deductible donation could help in the fight against cancer</p>
                <p class="">
                    Your contribution can make a real difference in the fight against cancer. Help fund cutting-edge
                    research by donating to one of these trusted organizations.
                </p>
            </div>
            <div class="col-lg-6 flex mt-0">
                <div class="mb-2">

                    <h2>First subtitle for resource group</h2>
                    <ul class="list-group">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
                <div class="mb-2">

                    <h2>second subtitle for resource group</h2>
                    <ul class="list-group">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
                <div class="mb-2">

                    <h2>third subtitle for resource group</h2>
                    <ul class="list-group">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                    </ul>
                </div>
                <div class="mb-5">

                    <h2>Fourth subtitle for resource group</h2>
                    <ul class="list-group">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
