asgiref==3.8.1
Django==4.2.16
sqlparse==0.4.4
django-allauth==65.0.1
PyJWT==2.9.0
django-extensions==3.2.3
requests==2.32.3
cryptography==43.0.1
django-bootstrap-v5==1.0.11
django-google-fonts==0.0.3
python-dotenv==1.0.1
django-widget-tweaks==1.5.0
django-phonenumber-field==8.0.0
django-phonenumber-field[phonenumbers]
locust
certifi==2024.8.30
pillow==10.4.0
django-csp
django-mathfilters
gunicorn==23.0.0
whitenoise
django-paypal
