{% extends "base.html" %}
{%load static%}

{% block title %} Home {% endblock %} 

{% block content %}

        <!--Homepage info-->
        <section class="home">
            <!--main home page-->
            <!--Add padding from the top-->
            <div class="home-info-left">
                <div class="row justify-content-evenly">
                    <div class="col-4">
                    <h1 class ="main-title"> We are CodeAgainstCancer</h1>
                <div class="text-box">
                    <h3><br>Eat Well, Fight Strong</h3>
                        <p>At CodeAgainstCancer, we believe that nutrition is a powerful ally in the fight against cancer. Our mission is to provide patients with comprehensive dietary support to enhance their health, boost their strength, and improve their quality of life. 
                        <p> Learn More. <!--add button here--> 
                </div>
            </div>
                 <!--image-->
                 <div class="col-4">
                <div class="home-img-right">
                    <img src="https://i.pinimg.com/564x/6a/fa/27/6afa27282ae0529247e93bdfc056e6d2.jpg" alt="Chef pic" class="img-fluid" > 
                </div>
        </div>
            </div>
        </div>
        </section>
        <!--Nutrition info-->
        <section class="Nutrition"> 
            <div class="row justify-content-evenly">
                <div class="col-4">
                    <div class="Nutrition-img" style=" 18rem"> <!--Add image here-->
                        <img src="https://i.pinimg.com/564x/fb/94/ca/fb94cab6d7c260b8c5952385d5dfee94.jpg" class="img-fluid" alt="healthy food img">
                </div>  
            </div>
                <div class="col-4">         
            <h3 class="Nutrition-title">Nutrition</h3>
                    At CodeAgainstCancer, we believe that nutrition plays a vital role in supporting cancer patients through their journey. Our focus is on providing personalized dietary guidance that helps boost the immune system, manage treatment side effects, and improve overall well-being. We offer tailored meal plans rich in essential nutrients, antioxidants, and anti-inflammatory foods to complement medical treatments and promote healing. By embracing a balanced, nutrient-dense diet, we aim to empower patients with the knowledge and tools to enhance their quality of life and contribute to their fight against cancer.   
                </div>
            </div>      
        </section>
        <!--Community info-->
        <section class="Community">
            <div class="row justify-content-evenly">
                <div class="col-4">
            <h3 class="Community-title">Community</h3>
                    We believe that sharing experiences, seeking guidance, and connecting with others who are going through similar challenges can be a powerful source of strength and resilience. Our community resources aim to foster a sense of belonging and ensure that no one has to navigate their cancer journey in isolation.
                </div>
                <div class="col-4">
            <div class="Community-img"> <!--Add image here-->
                <img src="https://i.pinimg.com/564x/a8/79/b1/a879b1900d7961fca26028fabe585ad5.jpg" class="img-fluid" alt="community-img">
            </div>
        </div>   
    </section>
        <!-- User Testimonials-->
        <section class="UserTestimonials">
            <div class="container text-center">
                <div class="row align-items-center">
            <h3 class="UserTestimonials-title">User Testimonials</h3>
            <div class="card-container">
            <div class="row justify-content-evenly">
            <div class="row row-cols-1 row-cols-md-3 g-4"> 
                <div class="col">
                  <div class="card h-100" style="width: 18rem">
                    <img src="https://i.pinimg.com/564x/f8/92/61/f89261ed471d04cab6f609f7157725d3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">“Love that it is simple but effective, helps me keep track of what I eat and stay on track. @User1”
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100" style="width: 18rem">
                    <img src="https://i.pinimg.com/564x/dc/13/ba/dc13ba4cb71bc20ccf69bcf6afd2f9b4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">“I was able to find yummy healthy recipes and find support in my community! 10/10 @User2"</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100" style="width: 18rem">
                    <img src="https://i.pinimg.com/564x/8f/7e/6d/8f7e6da6e92f96af312c472e12d77c40.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">"Perfect for keeping track of my dietary habits! I use it everyday. @User3"</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100" style="width: 18rem">
                      <img src="https://i.pinimg.com/564x/8f/7e/6d/8f7e6da6e92f96af312c472e12d77c40.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">"Perfect for keeping track of my dietary habits! I use it everyday. @User3"</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>
      
</section>
        <!--Mission-->
        <section class="Mission">
            <div class="container text-center">
                <div class="row align-items-center">
            <h3 class="Mission-title">Our Mission</h3>
                </div>
            </div>
                <div class="Promote">
                    <div class="Promote-img"> <!--Add img here-->
                        Promote Balanced Nutrition
                        <img src="https://cdn-icons-png.flaticon.com/256/5070/5070393.png" class="fi fi-rr-carrot" width="18rem">
                    </div>
                </div>
                <div class="Support">
                    <div class="Support-img"> <!--add image here-->
                        Support Through Community
                    </div>
                </div>
                <div class="Empower">
                    <div class="Empower-img"> <!--Add image here-->
                        Empower Cancer Patients
                    </div>
                </div>
                <div class="Impact">
                    <div class="Impact-img"> <!--Add image here-->
                        Positive Impact
                    </div>
                </div>
            </section>
       
            <!--Social Media-->
        <section class="SocialMedia">
            <div class="container text-center">
                <div class="row align-items-center">
            <h3 class="SocialMedia-title">Join Our Community</h3>
                </div>
            </div>
            <h5> @CodeAgainstCancer </h5>
            <!--Add social media buttons?-->
        </section>
    
{% endblock %}
